obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
packages/RavenDB*/server/Data
packages/RavenDB*/server/Data/*
packages/RavenDB*/server/Logs
packages/RavenDB*/server/Logs/*
packages/RavenDB*/server/Tenants
packages/RavenDB*/server/Tenants/*