@model Kaiser.BiggerShelf.Web.Models.Profile
@{
    ViewBag.Title = "Bigger Shelf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <input type="text" data-bind="resetPage: filters.search"/>
    <button data-bind="click: filters.nextPage, enable: NotOnLastPage">More</button>
    <button data-bind="click: filters.prevPage, enable: NotOnFirstPage">Less</button>
    <select data-bind="options: profile.Friends, optionsText: 'Name', selectedOptions: filters.friends" multiple="true"></select>
</div>

<h2>All Books</h2>
<table>
    <thead><tr><th>Title</th><th>Author</th><th>Selected</th><th>Rating</th></tr></thead>
    <tbody data-bind="foreach: books">
        <tr>
            <td data-bind="text: Title" ></td>
            <td data-bind="text: Author" ></td>
            <td><input type="checkbox" data-bind="checked: IsSelected" /></td>
            <td><select data-bind="options: $parent.availableRatings, value: UserRating" ></select> </td>
        </tr>
    </tbody>
</table>


@section Script {

    <script src="~/Scripts/knockout.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/history.js/history.js"></script>
    <script src="~/Scripts/history.js/history.adapter.jquery.js"></script>
    @*<script src="~/Scripts/history.js/history.html4.js"></script>*@
    <script src="~/Scripts/App/Models/Book.js"></script>
    <script src="~/Scripts/App/Models/Filters.js"></script>
    <script src="~/Scripts/App/Models/CatalogViewModel.js"></script>
    <script>
        $(function () {
            ko.applyBindings(new BS.CatalogViewModel({profileId: "@Model.Id"}));
        });
    </script>
}